<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Showing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cinema Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/films">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cinemaHallTypes">Cinema Hall Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cinemaHalls">Cinema Halls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seans">Seans</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container my-5">
    <h1 class="mb-5 text-center">Add a New Seans</h1>
    <form th:action="@{/addSeans}" th:object="${Seans}" method="post">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="film" class="col-form-label">Film</label>
                <select th:field="*{film}" class="form-control" id="film">
                    <option value="">Choose a Film</option>
                    <option th:each="film : ${films}" th:value="${film.id}" th:text="${film.tytul}"></option>
                </select>
                <span th:if="${#fields.hasErrors('film')}" th:errors="*{film}" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="sala">Hall</label>
                <select id="sala" th:field="*{sala}" class="form-control" required>
                    <option value="">Choose a Hall</option>
                    <option th:each="sala : ${sale}" th:value="${sala.id}" th:text="'Hall number: ' + ${sala.id} + ' Type: ' + ${sala.typSali.nazwa}"> </option>
                </select>
                <span th:if="${#fields.hasErrors('sala.id')}" th:errors="*{sala.id}" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="dataCzas">Date and Time</label>
                <input type="datetime-local" id="dataCzas" th:field="*{dataCzas}" class="form-control" required/>
                <span th:if="${#fields.hasErrors('dataCzas')}" th:errors="*{dataCzas}" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-4">
                <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-2"></i>Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlY3hgvwCJ6Ys+mOU6IYZi0FIbBZuU8JN38pZj7K9I1QhG4jw/tG8pR8p4P" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4Ag3w5t3MOgZDh1Xp3r5uUnl4AgiEN0hPzJ1IBt6wq4nLvEA7b5y" crossorigin="anonymous"></script>
</body>
</html>
