<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="d-flex justify-content-center align-items-center">
    <div>
        <h2 class="text-center my-5">Welcome to the Cinema Reservation App</h2>
        <div class="text-center my-5">
            <a href="/films">Show all films</a><br>
            <a href="/cinemaHallTypes">Show cinema hall types</a><br>
            <a href="/cinemaHalls">Show cinema halls</a><br>
            <a href="/seans">Show all seans</a><br>
            <a href="/reservationForm">Seat reservation</a><br>
        </div>
    </div>
</div>
</body>
</html>