<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cinema Reservation App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 text-center">
            <h2 class="my-5">Welcome to the Cinema Reservation App</h2>
            <div class="my-5">
                <a href="/films" class="btn btn-primary btn-lg btn-block my-2">
                    <i class="fas fa-film"></i> Films
                </a>
                <a href="/cinemaHalls" class="btn btn-warning btn-lg btn-block my-2">
                    <i class="fas fa-door-open"></i> Cinema Halls
                </a>
                <a href="/seans" class="btn btn-success btn-lg btn-block my-2">
                    <i class="fas fa-clock"></i> Film Showings
                </a>
                <a href="/reservationForm" class="btn btn-primary btn-lg btn-block my-2">
                    <i class="fas fa-calendar"></i> Reservations
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlY3hgvwCJ6Ys+mOU6iYZi0FIbBZuU8JN38pZj7K9I1QhG4jw/tG8pR8p4P" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4Ag3w5t3MOgZDh1Xp3r5uUnl4AgiEN0hPzJ1IBt6wq4nLvEA7b5y" crossorigin="anonymous"></script>
</body>
</html>