<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cinema Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/films">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cinemaHalls">Cinema Halls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/seans">Showings</a>
            </li>
        </ul>
    </div>
</nav>

<div th:switch="${seans}" class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h2 th:case="null" class="text-center">No cinema seans found</h2>
            <div th:case="*">
                <h2 class="mb-4 text-center">Seans</h2>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Film Title</th>
                        <th>Film Date</th>
                        <th>Hall Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="seans1 : ${seans}">
                        <td th:text="${seans1.film.tytul}">Film Title</td>
                        <td th:text="${seans1.dataCzas}">Film Date</td>
                        <td th:text="${seans1.sala.typSali.nazwa}">Hall Name</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center my-5">
                <a href="/addSeansForm" class="btn btn-primary">
                    <i class="fas fa-plus mr-2"></i> Add Seans
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlY3hgvwCJ6Ys+mOU6IYZi0FIbBZuU8JN38pZj7K9I1QhG4jw/tG8pR8p4P" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4Ag3w5t3MOgZDh1Xp3r5uUnl4AgiEN0hPzJ1IBt6wq4nLvEA7b5y" crossorigin="anonymous"></script>
</body>
</html>
